<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="source-page-role" content="navigation">
    <title><%= info.title %></title>

    <!-- Source default resources -->
    <link href="/source/assets/css/source.css" rel="stylesheet" data-source="core">
    <script src="/source/assets/js/require.bundle.js" data-source="core"></script>
    <script src="/source/assets/js/enter-the-source.js" data-source="core"></script>
    <!-- /Source default resources -->

    <%- head %>
</head>
<body class="source_page __navigation">
    <div class="source_container">
        <%- header %>
        <%- breadcrumb %>
        <div class="source_main source_col-main" role="main">
            <%- content %>
        </div>
        <%- footer %>
    </div>
</body>
</html>
