<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="author" content="<%= author %>">
    <% if (keywords !== '') {%>
    <meta name="keywords" content="<%= keywords %>">
    <% } %>

    <!-- Your project styles -->
        <link href="/data/docs/project.css" rel="stylesheet">
    <!-- /Your project styles -->

    <!-- Source default resources -->
        <link href="/core/css/core.css" rel="stylesheet">

        <!--[if lt IE 9]><script src="/core/js/lib/html5shiv.js"></script><![endif]-->
        <script data-main="/core/js/source" src="/core/js/lib/require-jquery.js"></script>
    <!-- /Source default resources -->
</head>
<body>
    <div class="source_container">
        <%- header %>
        <div class="source_main source_col-main" role="main"><%- content %></div>
        <%- footer %>
    </div>
</body>
</html>