<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>

    <link href="/source/assets/css/source.css" rel="stylesheet" data-source="core">
    <script src="/source/assets/js/require.bundle.js" data-source="core"></script>
    <script src="/source/assets/js/clarify.js" data-source="core"></script>

    <%- headCssLinks %>
    <%- headCssStyles %>

    <% if(!nojs) { %>
        <%- headScripts %>
    <% } %>

    <link href="/source/assets/css/clarify.bundle.css" rel="stylesheet">
</head>
<body class="source_clarify">
    <div class="source_clarify_content">
        <% for(var i = 0; i < sections.length; i++) { %>
            <h2 class="source_section_h"><%- sections[i].visualID %>. <%- sections[i].header %></h2>

            <% for(var j = 0; j < sections[i].html.length; j++) { %>
                <div class="source_example">
                    <%- sections[i].html[j] %>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="js-source_clarify_panel"></div>

    <%- bodyCssLinks %>
    <%- bodyCssStyles %>

    <% if(!nojs) { %>
        <%- bodyScripts %>
    <% } %>

    <!-- Important data for clarify panel -->
    <%- clarifyData %>
</body>
</html>