!!! mobile
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=10')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(name='author', content=head.mAuthor)
        meta(name='keywords', content=head.mKeywords)
        meta(name='description', content=head.mDescription)
        // meta(name='apple-mobile-web-app-capable', content='yes')
        // meta(name='apple-mobile-web-app-status-bar-style', content='red')

        script.
            document.documentElement.className = 'js'

        title=head.title

        // Source scripts
        //if lt IE 9
            script(src='/core/js/lib/html5shiv.js')
            //script(data-main='/core/js/source', src='/core/js/lib/require-jquery.js')

        // Inherited scripts
        !=head.scripts
        // /Inherited scripts

        // Clarify styles
        link(rel='stylesheet', href='/css/clarify.css')
        // /Clarify styles

        // Context styles
        link(rel='stylesheet', href='/css/mobile.css')
        // /Context styles

        // Inherited styles
        !=head.stylesheets
        // /Inherited styles


    body.clarify
        div.clarify_h
            img.clarify-logo(src='/img/cross.png', width='15', height='15', alt='Clarified specification')
            span.clarify-h_tx Clarified specification
            a.clarify-h_a(href=body.homeLink) Back to specification
        div.clasrify_body
            !=body.spec
        br
        // Clarify UI
        hr
        footer
            span Actually showed blocks: #{body.specId};
            br
            span Total blocks of code (".source_example"): #{body.specIdSum} / #{body.specLength}
            br
            form(method='get')
                input(type='hidden', name='get', value='mob')
                input(type='text', placeholder='block index number(s)' , name='id', value='')
                &nbsp;&nbsp;
                a(id='getUri', href='#333')
                    | insert IDs from URI
                br
                label(for='ph')
                    input(type='checkbox', name='ph', value='true', id='ph', checked)
                    &nbsp;
                    | use PhantomJS
                br
                input(type='submit', value='Clear it for me')
            br
            a(href=body.homeLink) Back to full spec page

        script.
            !(function (doc) {
                var elem = doc.getElementsByClassName('clarify_h')[0];
                setTimeout(function () {
                    elem.className += ' __closed';
                }, 2500);

                var getUri = doc.getElementById('getUri');
                getUri.addEventListener('click', function () {
                    var arr = decodeURIComponent(location.search).split('&'),
                        data;

                    var i = arr.length;
                    while(i--) {
                        if (~arr[i].indexOf('id=')) {
                            data = arr[i].match(/id=(.*)+?/)[1];
                        }
                    }
                    document.forms[0].id.value = data;
                }, false);
            })(document);


